body{
    background-color: #f5f5f5; 
    font-family:  proxima-nova, "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
body > h4{
    text-align: center;
}
.wrapper{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
button:hover{
    cursor: pointer;
}
.btn-1 > button{
    background-color: cyan;
    padding:7px 15px;
    border: 1px solid #333;
    border-radius:105px;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: bottom 0.5s ease-in-out;
    position: relative;
}
.btn-1 > button:hover{
    background-color: rgba(0, 0, 128, 0.445);
    color: #fff;
    bottom: 5px;
}
.btn-2{
    display: flex;
    align-items: center;
}
.btn-2 > button{
    position: relative;
    padding: 7px 15px;
    border: 1px solid #333;
    border-radius: 105px;
    transition: padding .2s ease-in-out;
    background: #E8442A;
}
.btn-2 button:hover{
    padding: 7px 39px 7px 15px;
}
.btn-2 > img{
    height: 20px;
    width: auto;
    position: relative;
    left: 10px;
    opacity: 0;
    transition: left .2s ease-in-out;
}
.btn-2 > button:hover ~ img{
    opacity: 1;
    left: -33px;
}
.btn-3 > button{
    display: flex;
    padding: 7px 7px;
    border: 1px solid #333;
    align-items: center;
    border-radius: 50%;
    background-color: #6B9BD2;
    transition: border-radius .3s ease-in-out;
}
.btn-3 > button:hover{
    border-radius: 20px;
}
.btn-3 > button span{
    display: none;
    transition:display .3s ease-in-out;
}
.btn-3 > button img{ 
    height: 20px;
    width: auto;
}
.btn-3 > button img:hover ~ span{
    display: block;
}
.btn-3 > button span:hover{
    display: block;
}

.btn-4 button img{
    height: 20px;
    width: auto;
}