*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #EDEAF9;
    color: #373D43;
}

header nav {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

header nav .links {
    display: flex;
    gap: 20px;
}
header nav .links a {
    color: #373D43;
    text-decoration: none;
}
header nav .links a:visited {
    color: #373D43;
}
header nav > h3 {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: .8rem;
    transition: background-color 300ms ease-in-out ;
}
header nav > h3:hover {
    background-color: #d0deec;
    cursor: pointer;
}
header nav > img {
    display: none;
}

.left {
    left: 0% !important;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    flex-wrap: wrap;
}
main article {
    max-width: 50ch;
}
main article h1 {
    font-size: 2.1rem;
    margin-bottom: 20px;
}
main article p {
    margin-bottom: 20px;
}
main article button {
    padding: 7px 15px;
    border-radius: 15px;
    border: none;
    border: 1px solid black;
    background-color: #373D43;
    color: #d0deec;
    transition: all 200ms ease-in-out;
}
main article button:hover {
    background-color: #d0deec;
    color: #373D43;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    header nav > h3{
        display: none;
    }
    header nav > img {
        display: block;
        height: 20px;
    }
    header nav .links {
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 15vh;
        background-color: rgba(0, 174, 255, 0.945);
        left: -100%;
        height: 40vh;
        justify-content: space-around;
        width: 100vw;
        transition: left 300ms ease-in-out;
    }
    section {
        align-self: center;
        display: grid;
        place-items: center;
    }
    section img {
        width: 90%;
        height: unset !important;
    }
    main article {
        padding: 10px;
    }
}
section img {
    height: 50vh;
}

footer {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    gap: 10px;
}
footer h1 {
    color: hsl(0, 0%, 70%);
}